#root {
    height: 100vh;
    width: 100vw;
    background-color: rgb(85 85 90);
    padding: 1em;
    box-sizing: border-box;
}

.header {
    margin: 0;
    color: white;
}

.itemList {
    margin-bottom: 1em;
}

.itemList :nth-child(even) {
    .trainDeparture {
        .destination, .timeLeft, .track {
         background-color: #0079D3;
        }
    }
}

.itemList :nth-child(even) {
    .destination, .timeLeft, .track {
        background-color: #ece6e6;
    }
}

.itemList :nth-child(odd) {
    .destination, .timeLeft, .track {
        background-color: #ffffff;
    }
}



