div.trainDeparture {
    display: grid;
    grid-template-columns: 7rem auto auto 12rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.lineNumber {
    align-content: center;

    p {
        margin: auto;
        font-weight: bold;
        font-size: 3rem;
        line-height: 1rem;
        text-align: center;
    }
}

.train {
    background-color: #003082;
    color: white;
}

.destination {
    font-size: 3rem;
    text-align: left;
    font-weight: bold;
    align-content: center;
    padding-left: 0.7rem;
}

.timeLeft {
    font-size: 3rem;
    text-align: right;
    font-weight: bold;
    padding-right: 0.1rem;
    align-content: center;
}

.track {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NSIgaGVpZ2h0PSI0NSIgdmlld0JveD0iMCAwIDQ1IDQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjtzdHJva2U6IzAwMzA4MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPnBsYXRmb3JtPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSI5LjUgMC41IDkuNSA5LjUgMC41IDkuNSAwLjUgNDQuNSA0NC41IDQ0LjUgNDQuNSAwLjUgOS41IDAuNSIvPjwvZz48L2c+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: right;
    font-size: 2rem;
    text-align: right;
    font-weight: semibold;
    align-content: center;
    align-items: center;
}

.departing {
    max-height: 3rem;
    display: block;
}

.departureImminent {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}